.attributes-grid {
  display: grid !important;
  text-transform: uppercase;
  font-size: 80%;
  text-align: center;
  grid-template-columns: auto 20% 20px 20% 20px 20%;
  margin-bottom: $unit1;
  align-items: center;
  // grid-template-rows:  ... |   ...;
}

.attribute-header {
  font-size: 65%;
}

.attribute-label {
  display: flex;
  flex-direction: column;
  background: $color-medium;
  color: #fff;
  margin-right: $unit1;

  .attributes-grid--black & {
    background: $color-black;
  }

  .attributes-grid--blue & {
    background: $color-blue;
  }

  .attributes-grid--green & {
    background: $color-green;
  }

  .attributes-grid--purple & {
    background: $color-purple;
  }

  .attributes-grid--red & {
    background: $color-red;
  }

  .attributes-grid--white & {
    background: $color-white;
    color: $color-black;
  }

  &__key {
    font-weight: bolder;
    font-size: 120%;
  }

  &__name {
    font-size: 50%;
  }
}

.attribute-race-total {
  border: 3px solid $color-medium;
  text-align: center;

  .attributes-grid--black & {
    border-color: $color-black;
  }

  .attributes-grid--blue & {
    border-color: $color-blue;
  }

  .attributes-grid--green & {
    border-color: $color-green;
  }

  .attributes-grid--purple & {
    border-color: $color-purple;
  }

  .attributes-grid--red & {
    border-color: $color-red;
  }

  .attributes-grid--white & {
    border-color: $color-white;
    color: $color-black;
  }
}
