// COLORS
$color-primary: #131515;
$color-medium: #2b2c28;
$color-negative: #d9cab3;

$color-black: #232c33;
$color-black-negative: #ffffff;
$color-blue: #0353a4;
$color-blue-negative: #ffffff;
$color-green: #138a36;
$color-green-negative: #ffffff;
$color-purple: #7c2494;
$color-purple-negative: #ffffff;
$color-red: #f21b3f;
$color-red-negative: #ffffff;
$color-white: #dee7ec;
$color-white-negative: #232c33;

$unit1: 8px;

$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
