.dialog-alert {
  color: red;
  font-size: 75%;
  font-style: italic;
}

.MuiFormControl-root.save-login-form {
  display: flex;
  margin: $unit1;
  padding: $unit1;
  border: 1px solid $color-medium;
}

.import-list {
  margin: 0;
  max-height: 400px;
  overflow-y: auto;

  &__loading {
    display: flex;
  }

  &__character {
    background: white;
    margin-bottom: $unit1;

    & > button {
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        background: lightgrey;
      }
    }

    &--active {
      border-left: 10px solid gold;
      border-bottom: 1px solid gold;
    }
  }
}
