.form {
  &--refreshing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
}

.form-item {
  width: calc(100% - #{$unit1});
  margin: 0 $unit1 $unit1 0 !important;

  &--half {
    width: calc(50% - #{$unit1});

    @media (max-width: $breakpoint-phone) {
      width: 100%;
    }
  }

  &--quarter {
    width: calc(25% - #{$unit1});

    @media (max-width: $breakpoint-phone) {
      width: calc(50% - #{$unit1});
    }
  }

  &--attributes {
    margin-top: $unit1 !important;
  }
}
