.header {
  display: flex;
  align-items: center;
  padding: 0 8px;

  h1 {
    flex-grow: 1;
    margin: 0;
    font-family: serif;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  @media (max-width: $breakpoint-phone) {
    h1 {
      font-size: 1rem;
    }
  }

  background: $color-negative;
}
