@import './constants';

body {
  font-family: 'Noto Serif', serif;
  background: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: $color-primary;
}

.app-container {
  border: 1px solid $color-medium;
}

main {
  padding-bottom: $unit1;
}

.invisible {
  opacity: 0;
}

@import './header';
@import './form';
@import './attributes';
@import './alignment';
@import './dialogs';
